<div class="container form-area">
  <h2>Add Employee</h2>
  <hr>
  <form [formGroup]="employeeAddForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <mat-error *ngIf="(name.touched && name.invalid)">Name of the Employee is required*</mat-error>
      </div>

      <div class="col">
        <label>Age</label>
        <input type="number" class="form-control" formControlName="age">
        <mat-error *ngIf="(age.touched && age.invalid)">Age of the Employee is required*</mat-error>
      </div>

      <div class="col">
        <label>Department</label>
        <input type="text" class="form-control" formControlName="department">
        <mat-error *ngIf="(department.touched && department.invalid)">Department of the Employee is required*
        </mat-error>
      </div>


      <div class="col">

        <label>Blood Group</label>
        <mat-select formControlName="bloodGroup" class="form-control">
          <mat-option *ngFor="let item of bg" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>


      </div>

      <div class="w-100"></div>


      <div class="col">
        <label>Address</label>
        <div formArrayName="address">

          <div class="form-group" *ngFor="let newAddress of employeeAddForm.get('address').controls; let i = index">
            <textarea type="text" class="form-control" [formControlName]="i"></textarea>
          </div>
          <button (click)="onAddAddress()" type="button" mat-raised-button color="secondary">Add Address*</button>
        </div>
      </div>

      <div class="col">
        <label>Contact</label>

        <div formArrayName="contactNumber">

          <div class="form-group"
            *ngFor="let newNumber of employeeAddForm.get('contactNumber').controls; let i = index">
            <input type="number" class="form-control" [formControlName]="i">
          </div>
          <button (click)="onAddNumber()" type="button" mat-raised-button color="secondary">Add number*</button>
        </div>
      </div>

    </div>


    <hr>
    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="!employeeAddForm.valid">Add Employee</button>
    </div>

  </form>


</div>