.container{
    margin-top: 10%;
    
}

.form-area{
    background: #f8f9fa;
}
.submit-button{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

li{
    font-size: 20px;
}

.back-btn{
    margin-left: 80%;
}
